﻿<h1>What you need</h1>

<ul>
    <li> MS Windows (it is possible to run it on linux, but certain modifications are necessary)
    <li> Java 7 SE or newer
    <li> Netbeans 7.0 or Apache Ant
    <li> 4 GB of HDD space
    <li> 2GB RAM
    <li> tnt (www.coli.uni-saarland.de/~thorsten/tnt/; free but a license is required)
</ul>

<h1>1. Download and install the tools</h1>

<ul>
<li>Get and install Java and Ant, one way to do this is to get and install the Java JDK SE+Netbeans bundle     
(http://www.oracle.com/technetwork/java/javase/downloads/index.html)

Note: Neither full JDK nor Netbeans are needed to run the experiments below, but we will need it later

<li>Apache Ant is part of Netbeans; make it accessible - add the <NetBeans dir>\java\ant\bin directory to the path variable:
<ul>
<li>Press Win+Break
<li>On Windows 7: click Advanced system settings link on the left side<br>
    On Win XP: click the Advanced tab
<li>Click the Environment variables button
<li>In user variables find the variable PATH, click Edit.
    If the variable does not exist, click New enter PATH as the variable name 
<li>Add the path <NetBeans dir>\java\ant\bin (usually c:\Program Files\NetBeans 7.0\java\ant\bin) at the end of variable value field (using semicolon as a separator)
</ul>

Note: Ant can be also downloaded separately (http://ant.apache.org/manual/install.html in that case add ant’s bin directory to the path)
</ul>


<h1>2. Download/Clone the system</h1>

Warning: It is large. About 1GB. It might take 2+ hours to get it all.

Warning: Checkout/clone the system into a directory without spaces (e.g., C:\morph)

<h1>3. Build the system</h1>

Run morph\build.xml and then MorphAnt\build.xml to build the system. Copy tnt binaries into the bin directory.


<h1>4. Add langugage projects</h1>

Download language resource(s) separately, and put htem into the proj directory, e.g. "C:/morph/proj/rus"

<h1>5. Run the experiments</h1>

<UL>
<LI>Run a command prompt (say cmd.exe) 
<LI>Switch to the "C:\morph\proj\<lg-project>" directory, e.g. "C:/morph/proj/rus"
<LI>run ant, this will call the default target in the build.xml file, which should compile the language resources and then test them on development and/or test corpus
</UL>
<p>

When it is done, there should be
<ul>
<li>3 log files:
<ul>
  <li>ant-sys.log - compilation of the resource
  <li>ant-dev.log - analyzing/tagging development corpus in a variety of ways
  <li>ant-test.log - analyzing/tagging test corpus in a variety of ways
</ul>

  At the end of each of these files should be "BUILD SUCCESSFUL".
<li>build directory with the following subdirectories
<ul>
  <li>build/sys - the actual taggers (models, lexicons for MA, etc).
  <li>build/dev - the dev corpus tagged by each tagger together with evaluation files and results
  <li>build/test - the same thing for the test corpus
</ul>
<li>results - summarization of the tagging results  
</ul>


